@import '../../styles/import';

.root {
  font-size: $font-size-input;

  width: 100%;
  padding: $spacing-2 $spacing-3;
  border: none;
  background-color: $dixa-background-grey;
  border-radius: $dixa-border-radius;
  font-family: $font-family-body;
  color: $dixa-black;

  @include scrollable;

  &::placeholder {
    color: $grey-3;
  }

  &:focus {
    background: $grey-7;
  }
}
